.navigation-bar{
    color: black;
}
.dropdown-menu.show {

    border: 1px solid black;
}
.dropdown-item {
    color: rgb(43, 43, 43);
}

.menu a:hover{
    
    color: white;
}

.name {
    font-family: 'Griffy', cursive;  
    font-size: 19px;
}
.logo{
    font-family: 'Henny Penny', cursive;
    font-weight: 900;
    font-size: 30px;
}
.menu a {
    font-size: 19px;
    font-weight: 900;
    color: white;
   /* font-family: 'Fruktur', cursive;
   font-family: 'Griffy', cursive; */
}
.navigation {
    background-color: #00203FFF;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}