.cardImg {
    height: 320px;
}
.blog-card {
    height: 350px;
}

.blog-card:hover .overlay{
    display: inline-block;
}
.blog-card:hover .cardImg{
    opacity: 0.5;
}
.overlay{
    display: none;
}